*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container-fluid{
    height: auto;
    background-color: #D8E9A8;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header-menu{
    background-color: #4E9F3D;
}

.container-encabezado{
    background-color: blue;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

    .encabezado-img{
        max-width: 30%;
        max-height: 30%;
        border-radius: 20px;
    }


.container-portfolio{
    background-color: #1E5128;
    height: auto;
    text-align: center;
}

    .trabajo-card{
        width: 300px;
        height: 300px;
    }


.acerca{
    background-color: #307e40;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
    .acerca-presentacion{
        text-align: justify;
        letter-spacing: 1px;
    }

.contacto{
    background-color: #3d9e50;
    height: auto;
}

.footer{
    background-color: #191A19;
    height: 400px;
    color: white;
}